*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* inizio header*/

header{
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.header-top{
    background-color: rgb(255, 105, 29);
    height: 60px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.top-orange{
    line-height: 35px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}


.top-link{
    text-align: center;
    display: inline-block;
    align-items: center;
}


.top-link ul, .text-main ul, .text-footer ul{
    display: flex;
    list-style: none;
}


li a{
    padding: 0 10px;
    color: white;
    text-decoration: none;
}


.top-logo{
    width: 20%;
    align-items: center;
}


.top-logo img{
    width: 80%;
}


.top-icons{
    text-align: right;
}

.top-icons i{
    color: white;
    padding-left: 5px;
}


.top-icons, .top-link{
    width: 30%;
    display: inline-block;
}

/* fine header*/

/* inizio main*/

.container{
    width: 80%;
    margin: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.container .main-img{
    width: calc(90% / 3 );
    margin: 40px 15px 0px 15px;
}

.photo{
    position: relative;
}

.photo img{
    width: 100%;
}

.photo .human-hover{
    display: none;
}

.hearts{
    position: absolute;
    top: 10px;
    right: 0;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    background-color: white;
}

.discount{
    background-color: red;
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.discount-green{
    background-color: green;
    position: absolute;
    bottom: 30px;
    left: 40px;
}

.discount-green2{
    background-color: green;
    position: absolute;
    bottom: 30px;
    left: 0;
}


.text-main{
    width: 100%;
}

.text-main ul{
    display: flex;
    flex-direction: column;
}

.mark-cloth, .cost{
    color: #777;
    font-size: 14px;
    font-weight: 600;
}

.cost-red{
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.cost{
    text-decoration: line-through;
}

/*fine main*/

/* inizio footer*/

footer{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer-sidebar{
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.text-footer{
    width: 50%;
}


.text-footer ul, h4{
    color: white;
    padding-top: 10px;
}

h4{
    font-size: 14px;
}

.link-footer li{
    font-size: 14px;
    padding-right: 10px;
}


.icons-footer{
    width: 50%;
    color: white;
    text-align: right;
}

.icons-footer i{
    padding-top: 10px;
}

/*fine footer*/

/* inizio hover*/

.photo:hover .human-hover{
    display: block;
}

.photo:hover .human{
    display: none;
}







